.modal-body {
	color: 	black;
	background-color: lightgray;
}

.modal-header {
	color: 	white;
	background-color: blue;
}
body
{
	font-family: 'Roboto Slab', serif;
	background-image: url("../image/background.jpg");
}

#after_submit
{
	visibility: hidden;
	margin-left:20px;
 	background-color: #d2def2;
 	padding: 10px 20px 10px 20px;
 	width: 400px;
 	border-radius: 20px;
 	font-size: 30px;
 	float:left;
}

#quiz
 {
 	margin-left:10px;
 	background-color: #d2def2;
 	padding: 10px 20px 10px 20px;
 	width: 400px;
 	border-radius: 20px;
 	float:left;
 }

input 
{
	margin-bottom: 20px;
}
#button
{
	background: blue;
	border: none;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-size: 20px;
	transition-duration: .5s;
	margin-top: 15px;
}
#button:hover 
{
	background: white;
	border: 1px solid blue;
	color:black;
	cursor:pointer;
}

#textbox
{
	height: 25px;
	font-size: 16px;
	border-radius: 15px;
	border: 2px solid blue;
	padding: 5px;
}
